# Ignore all checkpoint files 
*.ipynb_checkpoints 

# Ignore all store files 
*.DS_Store

# Ignore environment
*.venv
mortorq/

# Ignore downloaded models 
*ml_resources/perception_primer/yolov8n.pt
